<div id="loginComponent">
    <div class="header">
        <p class="headerText">{{ 'LOGIN' | translate }}</p>
    </div>
    <div ng-if="!vm.user" style="display: flex; flex-direction: column; width: 60%; margin-left: 20%; margin-top: 30vh;">
        <md-button class="md-raised md-primary" ng-click="vm.login('facebook')">Login with Facebook</md-button>
        <md-button class="md-raised md-accent" ng-click="vm.login('google')">Login with Google</md-button>
    </div>
    <div ng-if="vm.user" style="display: flex; flex-direction: column; width: 60%; margin-left: 20%; margin-top: 30vh;">
        <md-button class="md-raised md-primary" ng-click="vm.logout()">Logout</md-button>
    </div>
</div>